
<table class="table table-user">
  <h2>User info</h2>
  
  <thead>
    <tr>
      <%= image_tag @user.get_profile_image %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>Introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    </tbody>
</table>

   <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      <% end %>
